<a href="{{ href | default: '#MainContent' }}" class="skip-to-content">
  {{ 'accessibility.skip_to_text' | t }}
</a>

<style>
  .skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--color-accent);
    color: var(--color-primary);
    padding: 8px;
    text-decoration: none;
    z-index: 100;
  }

  .skip-to-content:focus {
    top: 0;
  }
</style>
